$primary-color: rgb(43, 43, 43);
$secondary-color: rgb(150, 150, 150);
$font-size: 10px;
$font-faliy: "Rubik", sans-serif;
$font-size: 10px;

$breakpoints: (
  sm: 375px,
  md: 768px,
  lg: 1024px,
);

@mixin media-up($breakpoint) {
  @media screen and (max-width: map-get($breakpoints , $breakpoint )) {
    @content;
  }
}
